/_build
/cover
/deps
/.elixir_ls
/.git
/.github
/.agents
/.ansible
/.codex
/kids_prep_*.db*
/.env
/.env.*
/priv/generated_material
/docs
/openbao
/playbooks
/test
/ansible.cfg
/inventory.ini
/README.md
erl_crash.dump
